@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: "Montserrat";
    background-color:rgb(236, 234, 234);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    margin-bottom: 1rem;
}
.card {
    text-align: center;
    max-width: 600px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 1rem;
}
.card input[type=text]{
    border:none;
    outline: none;
    padding:.5rem;
}
.card input[type=submit]{
    background: rgb(42, 149, 255);
    border: none;
    padding: .7rem ;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Montserrat";
    color: #fff;
}
/*temp*/
.temp{
    font-size: 40px;
    font-weight: 900;
}
.details{
    /* border: solid; */
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
    /* align-items:start; */
}
.details div{
   border-radius: 10px;
    max-width: 200px;
    height: 30%;
    padding: 20px;
    margin: 10px;
    background: #b9b9b9af;
  
}
@media (max-width: 768px)    
{
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card input[type="text"]{
 width: 100%;
}
.details{
    margin-top: 10rem;
    flex-direction: column;
    
}
.main{
    background-color: #ffffff;
    width: 100vw;
    height: 100vw;
}
}